.open-sans-N{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
/* Shared Style */
.text-primary{
    color: #FD6E0A;
    }
.dark-2{
color: #474747;
}
.btn-primary{
background-color: #FD6E0A;
font-weight:bold;
font-size: 20px;
border: none;
color: #ffffff;
padding: 18px 35px;
border-radius: 5px;
}
/* header */
.header{
background-image: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat;
background-position: top left, bottom right  ;
}

/* Nav stlyes */
nav{
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 200px;
}
.Nav-Title{
font-weight: 800;
font-size: 45px;
}
nav ul{
display: flex;
align-items: center;
}
nav ul li{
list-style: none;
margin-right: 51px;
}
nav li a{
text-decoration: none;
font-size: 20px;
}
/* banner styles */
.banner{
display: flex;
justify-content: space-between;
margin: 0 35px 0 200px;
}
.banner-content{
max-width: 580px;
}
.banner-greetings{
font-size: 45px;
font-weight: 600;
}
.banner-title{
font-size: 85px;
font-weight: 600;
}
.banner-profile-pic{
width: 580px;
}